<div class="container">
  <div class="headerRow">
    <img src="assets/images/back.webp" class="backIcon" (click)="goBack()" />
    <img src="assets/images/Vinglyn_logo.webp" class="logo" />
    <a routerLink="/login">
      <img src="assets/images/logout.webp" class="logoutIcon"
    /></a>
  </div>
  <p class="doctorListNameText">Doctor List</p>
  <img src="assets/images/horizontal_divider.webp" class="dividerImage" />
  <div class="centerContainer">
    <input
      (input)="onDoctorNameChange($event.target.value)"
      class="doctorNameTextField"
      placeholder="Enter name"
    />
    <div *ngFor="let item of tempList" class="doctorListItem">
      <img
        src="https://images.unsplash.com/photo-1544723795-3fb6469f5b39?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9"
        class="doctorImage"
      />
      <p class="doctorNameText">{{ item }}</p>
      <hr />
    </div>
  </div>
  <img src="assets/images/splash_two.webp" class="bottomImage" />
</div>
