<div class="container">
  <div class="headerRow">
    <div></div>
    <img src="assets/images/Vinglyn_logo.webp" class="logo" />
    <a routerLink="/login"
      ><img src="assets/images/logout.webp" class="logoutIcon"
    /></a>
  </div>
  <div class="centerContainer">
    <div class="mainRow">
      <a routerLink="/add-doctor">
        <div class="mainColumn">
          <img src="assets/images/add_doctor.webp" class="addDoctorImage" />
          <p class="addDoctorText">Add Doctor</p>
        </div>
      </a>
      <img class="dividerImg" src="assets/images/horizontal_divider.webp" />
      <a routerLink="/choose-template">
        <div class="mainColumn">
          <img
            src="assets/images/send_greeting.webp"
            class="sendGreetingsImage"
          />
          <p class="sendGreetingsText">Send Greetings</p>
        </div>
      </a>
    </div>
  </div>
  <img src="assets/images/splash.webp" class="bottomImage" />
</div>
